.list {
  list-style: none;
}
.list-types {
  list-style: none;

}
.card {
  border: black solid 2px;
  margin: 10px;
  text-align: center;
}


.types {
  padding: 0;
}

.favourite {
  background-color: blueviolet;
}